/BaseHexadecimalOctalBinary/target/
/PrimitiveTypesFloating/target/
/PrimitiveTypesChar/target/
/PrimitiveTypesBoolean/target/
/PrimitiveTypesConversion/target/
/ArithmeticOperators/target/
/AssignmentOperator/target/
/UnaryOperators/target/